.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.group {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  overflow: hidden;
}

.group > * {
  border-radius: 0;
  border: none;
  border-right: 1px solid var(--border-color);
}

.group > *:last-child {
  border-right: none;
}