.panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 12px;
}

@media (max-width: 750px) {
    .left, .right {
        flex-direction: column;
        align-items: flex-start;
    }
}